.todo-manage {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;

  input {
    border: solid 0.8px #dedfe0;
    padding: 12px 10px;
    border-radius: 4px;
    outline: 0;
    width: 100%;
  }

  button {
    margin-right: 10px;
  }
}
