.characterList {
  overflow: auto;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 0 20px;
  box-sizing: border-box;

  table {
    border: 1px solid #ccc;
    border-spacing: 0;
    width: calc(50% - 20px);
    
    thead {
      tr {
        th {
          text-align: left;
          border-bottom: 1px solid #ccc;
          padding: 15px 30px;
        }
      }
    }

    tbody {
      tr {
        td {
          border-bottom: 1px solid #ccc;
          padding: 15px 30px;
        }
      }
    }
  }
}
